# Exemplo de arquivo .env
# Copie este arquivo para .env e preencha com suas credenciais reais

MONGO_URI="mongodb+srv://usuario:senha@cluster.mongodb.net/?retryWrites=true&w=majority"
DATABASE_NAME=seu_banco_de_dados
